@mixin flex-column($gap) {

    display: flex;
    flex-direction: column;
    gap: $gap ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-width: 1600px;
}

.view1 {
    max-width: 1600px;
}
.hero{
     max-width: 1600px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    header {
        width: 100%;

        position: sticky;
        top: 0;
        z-index: 1000;


        nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #968DA8;
            padding: 1rem;


            .logo {
                width: 40%;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .menu {
                width: fit-content;

                h4 {
                    font-size: 2rem;
                    font-weight: 400;
                }
            }

            .link {
                width: fit-content;
                display: flex;
                gap: 1.6rem;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                display: none;

                a {
                    text-decoration: none;
                    color: black;
                    margin: 0.5rem;
                    text-transform: uppercase;
                    padding: 0.4rem;
                    font-weight: 600;
                    font-size: 0.9rem;
                    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
                    text-align: center;

                }

                a:hover {
                    background-color: red;
                    color: white;
                    border-radius: 5px;

                }
            }

        }
    }

    .hero {
        width: 100%;

        #heroimg {
            transition: opacity 0.6s ease;
        }



        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

    }

    .view1 {
        width: 100%;

        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
            font-size: 1.6rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            color: #718FD0;
            border-bottom: 20px;
        }

        .top {
            width: 100%;
            display: flex;
            flex-direction: column;

            gap: 1rem;
            border-radius: 0.8rem;


            .service-card {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.6rem;
                padding: 1rem;

                text-align: center;
                box-shadow: 0rem 0rem 0.5rem black;
                border-radius: 1rem;


                .img-box {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    padding: 1rem;
                    background-color: #58B25E;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: conver;
                    }
                }


                h4 {

                    font-size: 2rem;
                    font-weight: 500;
                    opacity: 0.8;
                    color: red;
                }

                p {
                    font-size: 1rem;
                    opacity: 0.8;

                    span {
                        color: green;
                        font-weight: bold;
                    }
                }
            }

        }

        .bottom {
            background-color: #EFEFEF;
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 0.8rem;


            .card {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 0.8rem;
                border: 1px solid black;
                text-align: center;
                align-items: center;
                padding: 1rem;
                box-shadow: 0rem 0rem 0.5rem black;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                h4 {
                    font-size: 1.7rem;
                    text-transform: capitalize;
                    color: #718FD0;
                    font-weight: 500;
                }

                p {
                    font-size: 1rem;
                    font-weight: 500;
                    word-spacing: 1.6px;
                    line-height: 1.3;
                    opacity: 0.8;
                }
            }
        }
    }
    .view2{
        width: 100%;
        background-color: #39BBB7;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .top{
            width: 100%;
            display: flex;
            flex-direction: column;

            .lft-top{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                padding: 1rem;
                border-bottom: 1px solid white;

                h3{
                    font-size: 2rem;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 500;
                }
                
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .rht-top{

                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.3rem;

                button{
                    width: fit-content;
                    padding: 0.9rem 1.7rem;
                    border: none;
                    outline: none;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    background-color: #727CB6;
                    color: white;
                }
                 p{
                    font-size: 1.2rem;
                    font-weight: 500;

                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (min-width:750px) {

    main {
        header {
            nav {
                .link {
                    display: block;
                }

                .logo {
                    width: 25%;
                }

                .menu {
                    display: none;
                }

            }
        }

        .view1 {
            .top {
                flex-direction: row;
            }

            .bottom {
                flex-direction: row;
                gap: 3rem;
            }
        }
        .view2{
            .top{
                flex-direction: row;

                .lft-top,.rht-top{
                    width: 50%;
                }
                .lft-top{
                    border: none;
                }
            }
        }
    }
}